Box2D==2.3.2
box2d-py==2.3.8
flax @ git+https://github.com/google/flax.git@230b0d77e98da22b6e574c3cbff743ca1504bfca
gymnasium==0.29.1
ipython==8.18.1
jax==0.4.20
jaxlib==0.4.20
matplotlib==3.8.2
mujoco==2.2.0
mujoco-py==2.1.2.14
numpy==1.26.2
optax==0.1.7
orbax-checkpoint==0.4.4
pandas==2.1.3
pygame==2.5.2
scipy==1.11.4
seaborn==0.13.0
swig==4.1.1
sympy==1.12
tensorboard==2.15.1
tensorflow-probability==0.23.0
tqdm==4.66.1